@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

:root {
  --black: #000;
  --white: #ffffff;
  --lightgrey: #f1f1f1;
  --darkblue: #0d102c;
  --primarycolor: #3d51f2;
  --secondarycolor: #5670ef;
  --lightDark: #080a25;
  --darkText: #8388b4;
}

body {
  background-color: #0d102c;
  /* padding-top: 60px; */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2.5rem;
  font-family: "Questrial", sans-serif;
  transition: all 0.3s ease;
}

nav.scrolled {
  border-bottom: 1px solid #396fec;
  background-color: rgba(13, 16, 44, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
  border-radius: 0 0 10px 10px;
}

.logo {
  height: 70px;
}

.links-container {
  display: flex;
  align-items: center;
  /* background-color: #1a2980; */
}

.al {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.al:hover {
  box-shadow: rgba(28, 62, 255, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  color: #b5bbef;
  padding: .5rem;
}

.butss {
  display: flex;
  gap: 10px;
}

.butss button {
  font-family: "Questrial", sans-serif;
  width: 140px;
  height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(to right, #0049d3, #009dea);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.butss a{
  text-decoration: none;
  color: #fff;
}

.butss button:hover {
  background-color: #402ee5;
  box-shadow: 0px 15px 20px rgba(28, 62, 255, 0.56);
  color: #fff;
  transform: translateY(-5px);
  /* padding:2rem ; */
}
.b

#sidebar-active,
.open-sidebar-button,
.close-sidebar-button {
  display: none;
  /* background-color: #000; */
}

@media (max-width: 768px) {
  .open-sidebar-button {
      display: block;
      /* display: none; */
  }
  .sidebar-active{
    display: none;
  }

  .links-container {
      position: fixed;
      top: 0;
      right: -100%;
      flex-direction: column;
      align-items: flex-start;
      width: 200px;
      height: 100vh;
      background-color: rgba(19, 32, 130, 0.862);
      backdrop-filter: blur(10px);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
      padding: 20px;
  }

  .close-sidebar-button {
    display: block;
      /* display: none; */
      align-self: flex-end;
      margin-bottom: 20px;
  }

  .al {
      width: 100%;
      padding: 15px 0;
  }

  .butss {
      flex-direction: column;
      width: 100%;
  }

  #sidebar-active:checked ~ .links-container {
      right: 0;
  }

  #overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background-color: #0D102C; */
      background-color: rgba(21, 1, 1, 0.5);
      z-index: 9;
      color: #000;
  }

  #sidebar-active:checked ~ #overlay {
      /* display: block; */
  }
}


img#imahe {
    animation: bounce 0s infinite;
}


/* Hero page */
.hero {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 2rem 2rem;
    max-width: 1200px;
    margin: 5rem auto;
}

.sectionPic {
    order: 0;
    margin-bottom: 2rem;
}

.sectionPic img {
    max-width: 90%;
    height: auto;
}

.sectionDesc {
    order: 1;
}

.headline {
    color: var(--white);
    font-size: 2em;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
    font-family: "Questrial", sans-serif;
    /* font-size: 3rem; */
    /* padding-right: 2rem; */
}

.cryptoText {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #2647e9;
}

.sub-headline {
    padding: 1rem 0;
    font-size: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards 0.5s;
    font-family: "Roboto Flex", sans-serif;
}

.btnContainer {
    margin-top: 1em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards 1s;
}

.btnContainer button {
    font-family: "Questrial", sans-serif;
    border: 1px solid #396fec;
    border-radius: 50px;
    background-color: transparent;
    color: #3d51f2;
    font-size: 1rem;
    padding: 0.7em 1.5em;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
}

.btnContainer button:hover {
    color: #ffffff;
    background: linear-gradient(to right, #0049d3, #009dea);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
        align-items: center;
        /* text-align: center; */
        margin:auto;
    }

    .sectionPic {
        order: 1;
        flex: 1;
        margin-bottom: 0;
    }

    .sectionDesc {
        order: 0;
        flex: 1;
        padding-right: 2rem;
    }

    .headline {
        font-size: 3rem;
    }

    .sub-headline {
        font-size: 1.25rem;
        font-family: "Roboto Flex", sans-serif;
    }
}

@media screen and (min-width: 1024px) {
    .headline {
        font-size: 3.8rem;
        /* font-family: "Roboto Flex", sans-serif; */
    }

    .sub-headline {
        font-size: 1.5rem;
        font-family: "Roboto Flex", sans-serif;
    }
}


/* Processes */



.gridSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.sectionPic1 {
    order: 1;
}

.sectionPic1 img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    animation: bounce 15s infinite;
}

.processessDesc {
    order: 2;
}

.sectionHeader {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sectionPara {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: "Roboto Flex", sans-serif;
}

.eachProcesses {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.eachProcesses img {
    width: 80px;
    margin-right: 1rem;
}

.processTitle {
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@media screen and (min-width: 768px) {
    .gridSection {
        flex-direction: row;
        align-items: center;
        padding: 0rem 2rem 3rem 2rem;
        margin-top: 7rem;
    }

    .sectionPic1 {
        order: 0;
        flex: 1;
    }

    .processessDesc {
        order: 1;
        flex: 1;
    }

    .sectionHeader {
        font-size: 2.5rem;
    }

    .sectionPara {
        font-size: 1.1rem;
        font-family: "Roboto Flex", sans-serif;
    }
}

@media screen and (min-width: 1024px) {
    .sectionHeader {
        font-size: 3rem;
    }

    .sectionPara {
        font-size: 1.2rem;
        font-family: "Roboto Flex", sans-serif;
    }

    .processTitle {
        font-size: 1.4rem;
    }
}
/* Newsletter */

.newsletter {
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
  width: 70%;
  border: 1px solid #396fec;
  border-radius: 50px;
  background-color: transparent;
  color: #3d51f2;
  font-size: 1.1rem;
  /* padding: .7em 1.5em; */
  cursor: pointer;
  box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
}

.newsletter input {
  font-size: 1.1rem;
  padding: 0.7em 1.5em;
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  color:#fff;
}

.newsletter input::placeholder {
  color: var(--lightgrey);
}

.newsletter button {
  background-color: var(--primarycolor);
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: .5rem;
  /* background-color: #fff; */
  box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
}

.newsletterDesc {
  order: 0;
}

.newsletterPic {
  order: 1;
}
.last2{
    margin-bottom: 2rem;
}
@media screen and (min-width: 800px) {
  .newsletterDesc {
    order: 1;
  }

  .newsletterPic {
    order: 0;
  }
}

/* Join Now */

footer {
  background-color: var(--lightDark);
  margin-top: 5em;
}

.joinSection {
  width: 90%;
  max-width: 1100px;
  margin: -8.5rem auto 0;
  text-align: center;
  padding: 2em 1em;
  background-color: #080a25;
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
  z-index: 2;
  position: relative;
  bottom: 120px;
}

.joinSection button {
  height: auto;
  margin-top: 1rem;
}

.footerlinksContainer {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3em 1em 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  text-align: center;
}

.footerAboutus {
  margin-bottom: 2em;
}

.footersociallinkContainer {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.footerlink {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footerlink h2 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.footerlink a {
  color: #fff;
  margin-bottom: 0.8em;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.footerlink a:hover {
  transform: translateX(5px);
}

.footerCopyright {
  background-color: var(--darkblue);
  padding: 1em;
  text-align: center;
  margin-top: 2em;
}

.developedBy {
  font-weight: bold;
  color: var(--white);
}

/* Responsive adjustments */
@media screen and (min-width: 576px) {
  .joinSection {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .footerlinksContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .joinSection {
    width: 60%;
  }
  
  .footerlinksContainer {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .joinSection {
    width: 50%;
  }
} 


/*marketcss*/


.services-container {
    text-align: center;
    font-size: 1rem;
    box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
    padding: 1rem 6rem;
    margin: 2rem 1rem;
    background: linear-gradient(45deg, #1a2980, #26d0ce);
    /* background-color: #f5f7f8; */
    border-radius: 15px;
    /* width:500px; */
}

.services-container h1 {
    font-size: 1.8em;
    padding: 2rem ;
    color: #0b2760;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.service-box {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    color: #fff;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flipRotate 10s infinite linear;
}

@keyframes flipRotate {
    0%, 100% { transform: perspective(800px) rotateY(0); }
    25% { transform: perspective(800px) rotateY(180deg) scale(1.1); }
    50% { transform: perspective(800px) rotateY(360deg); }
    75% { transform: perspective(800px) rotateY(540deg) scale(0.9); }
}

#mining { background-color: #e85f70; }
#cryptoland { background-color: #fa8936; }
#blockchain { background-color: #4caf50; }
#exchange { background-color: #0090d5; }

.service-box svg {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.service-box p {
    margin: 0;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    .services-container {
        /* margin: 3rem; */
        font-size: 1.2rem;
        text-align: center;
        font-size: 1rem;
        box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
        /* padding: 1rem 3rem; */
        /* margin: 2rem 1rem; */
        background: linear-gradient(45deg, #1a2980, #26d0ce);
        /* background-color: #f5f7f8; */
        border-radius: 15px;
    }

    .services-container h1 {
        font-size: 3em;
    }

    .service-box {
        width: 180px;
        height: 180px;
    }

    .service-box svg {
        width: 50px;
        height: 50px;
    }

    .service-box p {
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .services-container {
        margin: 3rem 7rem;
        /* font-size: 1.4rem; */
        text-align: center;
        font-size: 1rem; 
        box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
        /* padding: 1rem; */
        padding: 1rem 4rem;
        margin: 2rem 7rem;
        background: linear-gradient(45deg, #1a2980, #26d0ce);
        /* background-color: #f5f7f8; */
        /* border-radius: 15px; */
    }

    .service-box {
        width: 200px;
        height: 200px;
    }
}
  /*commoncss*/
  
   
  /* common styles */
  section{
      width: 95%;
      max-width: 1200px;
      margin: auto;
      margin-top: 2em;
  }
  
  .gridSection{
      display: grid;
      align-items: center;
      gap: 40px;
      /* margin-bottom: 8em; */
  }
  
  #sectionPic{
      width: 100%;
      max-width: 550px;
      margin: auto;
  }
  
  .sectionPic img{
      width: 100%;
  }
  
  p{
      color: var(--lightgrey);
  }
  
  .darkPara{
      color: var(--darkText);
      font-weight: 500;
  }
  
  .btn{
      border: 1px solid #fff;
      border-radius: 50px;
      background-color: transparent;
      color: var(--white);
      font-size: 1.1rem;
      padding: .7em 1.5em;
      cursor: pointer;
  }
  
  .btn1{
      margin-right: 1em;
  }
  
  .btn2{
      border: none;
  }
  
  .primaryBtn{
      background-color: var(--primarycolor);
  }
  
  @keyframes bounce {
      0% {transform:translateY(-30px);}
      50% {transform:translateY(30px);}
      100% { transform:translateY(-30px)}
    }
  
  .bouncepic img{
     animation: bounce 15s infinite;    
  }
  
  .sectionHeader{
      color: var(--white);
      font-size: 2rem;
      margin-bottom: .7em;
  }
  
  .sectionPara{
      font-size: 1.1rem;
      margin-bottom: 3em;
  }
  
  @media screen and (min-width:800px) {
      section{
          width: 85%;
      }   
      
      .gridSection{
          grid-template-columns: 1fr 1fr;
      }
  }
  
  @media screen and (min-width:1000px){
      .sectionHeader{
          font-size: 3em;
      }
  }
  
  /* Markets */
  
  .marketDesc {
    order: 0;
  }
  
  .eachMarket {
    display: flex;
    margin-bottom: 2em;
  }
  
  .eachMarket img {
    margin-right: 2em;
  }
  
  .marketTitle {
    color: var(--white);
    margin-bottom: 1em;
  }
  
  .marketspicSection {
    border-radius: 20px;
    padding: 1em;
  }
  
  .marketspicHeader {
    color: var(--darkblue);
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
  }
  
  .marketsPicContainer {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: px;
    margin: auto;
  }
  
  .marketPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    border-radius: 20px;
  }
  
  .marketPic1 {
    background-color: #70baf0;
  }
  
  .marketPic2 {
    background-color: #60f0aa;
  }
  
  .marketPic3 {
    background-color: #5844de;
  }
  
  .marketPic4 {
    background-color: #d955eb;
  }
  
  .marketPic img {
    width: 50px;
  }
  
  .marketTitle {
    color: var(--white);
    font-weight: bold;
    margin-top: 0.5em;
    text-transform: uppercase;
  }


  /* General section */
  .deepa-section {
    padding: 40px;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #0D102C;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
}

.sectionHeader {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Questrial', sans-serif;

}

.sectionPara {
    color: #ddd;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Grid Section */
.deepa-gridSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Questrial', sans-serif;
}

.sectionDesc {
    flex: 1;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #1f1f38;
    transform: translateY(-5px);
}

.sectionPic {
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
}

.sectionPic img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.sectionPic img:hover {
    transform: scale(1.1);
}

/* Fund Section */
.deepa-fundSection {
    text-align: center;
    padding: 60px 20px;
    background-color: #0D102C;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
}

.deepa-fundsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.fund {
    background-color: #1f1f38;
    border-radius: 10px;
    padding: 30px 20px;
    width: 23%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
}

.fund:hover {
    transform: translateY(-10px);
    background-color: #1f1f38;
    box-shadow: 0px 10px 20px rgba(240, 228, 225, 0.4);
}

.fund img {
    width: 60px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.fund:hover img {
    transform: scale(1.1);
}

.fundType {
    color:white;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.darkPara {
    color: #ddd;
    font-size: 1rem;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .deepa-gridSection {
        flex-direction: column;
        text-align: center;
    }

    .sectionPic {
        margin-top: 20px;
    }

    .sectionHeader {
        font-size: 2rem;
    }

    .sectionPara {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .fund {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .fund {
        width: 100%;
    }

    .sectionHeader {
        font-size: 1.8rem;
    }

    .sectionPara {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.8rem;
    }
}


/* Grid Section */

/* Fund Section */
.deepa-fundSection {
    text-align: center;
    padding: 60px 20px;
    background-color: #0D102C;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
}

.deepa-fundsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.fund {
    background-color: #1f1f38;
    border-radius: 10px;
    padding: 30px 20px;
    width: 23%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
}

.fund:hover {
    transform: translateY(-10px);
    background-color: #1f1f38;
    box-shadow: 0px 10px 20px rgba(240, 228, 225, 0.4);
}

.fund img {
    width: 60px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.fund:hover img {
    transform: scale(1.1);
}

.fundType {
    color:white;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.darkPara {
    color: #ddd;
    font-size: 1rem;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .deepa-gridSection {
        flex-direction: column;
        text-align: center;
    }

    .sectionPic {
        margin-top: 20px;
    }

    .sectionHeader {
        font-size: 2rem;
    }

    .sectionPara {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .fund {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .fund {
        width: 100%;
    }

    .sectionHeader {
        font-size: 1.8rem;
    }

    .sectionPara {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.8rem;
    }
}