div.container{
    padding-top: 80px;
    max-width: 1300px;
    margin: auto;
    display: flex;
}

:root{
    --black:#000;
    --white:#ffffff;
    --lightgrey:#f1f1f1;
    --darkblue:#0d102c;
    --primarycolor:#3d51f2;
    --secondarycolor:#5670ef;
    --lightDark:#080A25;
    --darkText:#8388B4;
 }


.sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    max-width: 600px;
    padding-left: 30px;
    padding-top: 100px;
    h1{
        color: aliceblue;
        font-size: 65px;
    }

    p{
        font-size: 25px;
        font-weight: 600;
        color:aliceblue;
    }

    button{
        width: 150px;
        padding: 15px 0 15px 0;
        font-family: "Questrial", sans-serif;
        width: 140px;
        height: 45px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 600;
        color: #ffffff;
        background: linear-gradient(to right, #0049d3, #009dea);
        border: none;
        border-radius: 5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    button:hover {
        background-color: #402ee5;
        box-shadow: 0px 15px 20px rgba(28, 62, 255, 0.56);
        color: #fff;
        transform: translateY(0px);
      }

}

.sec2{
    position: relative;
        left: 100px;

    img{
        width: 750px;

    }

    @keyframes img {
        0% {transform:translateY(-10px);}
        /* 50% {transform:translateY(10px);} */
        100% { transform:translateY(-10px)}
      }
    
    img{
       animation: bounce 7s infinite;    
    }
}

.market{
    padding-left: 25px;
    padding-bottom: 25px;
    margin-top:200px ;
    max-width: 1300px;
    margin: auto;

    h1{
        padding-bottom: 25px; 
        color: aliceblue;
        font-size: 35px;
    }

}

.cc{
    
    border-bottom: 2px solid #0049d3;
    display: inline;
    label{

        color: aliceblue;
    }
}

.curr{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 200px;
}

.titles{
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    color: aliceblue;
    padding-left: 20px;
}

.cont{
    margin-left: 15px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.322);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-weight: 500;
    button{
        width: 150px;
        padding: 15px 0 15px 0;
        font-family: "Questrial", sans-serif;
        width: 140px;
        height: 45px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 600;
        color: #ffffff;
        background: linear-gradient(to right, #0049d3, #009dea);
        border: none;
        border-radius: 5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }
}

.cont:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 102, 255, 0.3) 0px 7px 13px -3px, rgba(1, 90, 255, 0.2) 0px -3px 0px inset;
}

.linkk{
    text-decoration: none;
    border: none;
}





/* common styles */
section{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 2em;
    /* margin-bottom: 2rem; */
}

.gridSection{
    display: grid;
    align-items: center;
    gap: 40px;
    margin-bottom: 8em;
}

#sectionPic{
    width: 100%;
    max-width: 550px;
    margin: auto;
}

.sectionPic img{
    width: 80%;
}

p{
    color: var(--lightgrey);
}

.darkPara{
    color: var(--darkText);
    font-weight: 500;
}

/* .btn{
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: var(--white);
    font-size: 1.1rem;
    padding: .7em 1.5em;
    cursor: pointer;
} */
.btnnews{
    border: 1px solid #fff;
    border-radius: 50px; 
    font-size: 1.1rem;
    padding: .7em 1.5em;
    cursor: pointer;
    background-color: #a0adee;
}

.btn1{
    margin-right: 1em;
}

.btn2{
    border: none;
}
.btn3{
    border: 1px solid #396fec;
    border-radius: 50px;
    background-color: transparent;
    color:#3d51f2;
    font-size: 1.1rem;
    padding: .7em 1.5em;
    cursor: pointer;
    box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
}
.primaryBtn{
    background-color: var(--primarycolor);
}

@keyframes bounce {
    0% {transform:translateY(-30px);}
    50% {transform:translateY(30px);}
    100% { transform:translateY(-30px)}
  }

.bouncepic img{
   animation: bounce 15s infinite;    
}

.sectionHeader{
    color: var(--white);
    font-size: 2rem;
    /* margin-bottom: .7em; */
}

.sectionPara{
    font-size: 1.1rem;
    padding: 1rem 0;
    /* margin-bottom: 3em; */
}

@media screen and (min-width:800px) {
    section{
        width: 85%;
    }   
    
    .gridSection{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1000px){
    .sectionHeader{
        font-size: 3em;
    }
}

/* Newsletter */

.newsletter{
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    width:70%;
    border: 1px solid #396fec;
    border-radius: 50px;
    background-color: transparent;
    color:#3d51f2;
    font-size: 1.1rem;
    /* padding: .7em 1.5em; */
    cursor: pointer;
    box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
}

.newsletter input{
    font-size: 1.1rem;
    padding: .7em 1.5em;
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
}

.newsletter input::placeholder{
    color: var(--lightgrey);
}

.newsletter button{
    /* background-color: var(--primarycolor); */
    font-weight: 700;
    border: none;
    cursor: pointer;
    /* background-color: #fff; */
    box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
}

.newsletterDesc{
    order: 0;
}

.newsletterPic{
    order: 1;
}

@media screen and (min-width:800px) {
    .newsletterDesc{
        order: 1;
    }
    
    .newsletterPic{
        order: 0;
    }
}

/* Join Now */
footer{
    background-color: var(--lightDark);
    margin-top: 5em;
}

.joinSection{
    width:50%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 1em 0;
    background-color: #080A25;
    position: relative;
    border-radius: 15px;
    bottom: 5rem;
    /* top: 4rem; */
    box-shadow: rgba(94, 64, 177, 0.35) 0px 5px 15px;
    /* box-shadow: ; */
}
.footerlinksContainer{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 1.5em;
   
}



/* .joinSection .joinDesc{
    width: 80%;
} */

.joinSection button{
    height: auto;
    margin-top: .5rem;
}



.footerlinksContainer{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
    padding-top: 5em;
    /* border-top: 1px solid var(--lightgrey); */
}

.footersociallinkContainer{
    margin-top: 1em;
}

.footerAboutus .sociallinkContainer{
    justify-content: flex-start;
}

.footerlink{
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.linkTitle{
    font-size: 1.5rem;
    margin-bottom: .5em;
}

.footerlink a{
    color: var(--white);
    margin-bottom: 1em;
    transition: all .5s ease-in-out;
}

.footerlink a:hover{
    transform: translateX(10px);
}

.footerCopyright{
    background-color: var(--darkblue);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.footerCopyright p{
    text-align: center;
}

.developedBy{
    font-weight: bold;
    color: var(--white);
}

@media screen and (min-width:700px) {
    .footerlinksContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.eachLink{
    text-decoration: none;
  }
  